In [1]:
#https://www.kaggle.com/datasets/imakash3011/customer-personality-analysis


#libraries
# Importad las librerías necesarias aquí
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn.datasets

from plotly.subplots import make_subplots
from sklearn.model_selection import train_test_split
from sklearn.decomposition import PCA
from sklearn.svm import LinearSVC
from sklearn.metrics import (accuracy_score, confusion_matrix, 
                             mean_squared_error, mean_absolute_error, mean_absolute_percentage_error,
                             silhouette_score, davies_bouldin_score,silhouette_samples)
from sklearn.ensemble import RandomForestRegressor
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import MinMaxScaler
from sklearn.cluster import KMeans
from sklearn.manifold import TSNE
import sklearn.preprocessing as skp #machine learning (preprocessing)
import sklearn.cluster as skc #machine learning (clustering)

import plotly.express as px
import plotly.graph_objects as go
import plotly.figure_factory as ff

In [6]:

df=pd.read_csv('https://raw.githubusercontent.com/jorgecalvar/project-client-segmentation/main/df_after_eda.csv',header=0,sep=',')
df.head(10)

,Unnamed: 0,ID,Education,GradorPost,Marital_Status,Relationship,Dt_Customer,days,Year_Birth,Age,...,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Response,SumAcceptedCmp
0,0,5524,Graduation,Undergrad Degree,Single,Single,2012-04-09,971,1957,57,...,4,7,0,0,0,0,0,0,1,1
1,1,2174,Graduation,Undergrad Degree,Single,Single,2014-08-03,125,1954,60,...,2,5,0,0,0,0,0,0,0,0
2,2,4141,Graduation,Undergrad Degree,Together,Relationship,2013-08-21,472,1965,49,...,10,4,0,0,0,0,0,0,0,0
3,3,6182,Graduation,Undergrad Degree,Together,Relationship,2014-10-02,65,1984,30,...,4,6,0,0,0,0,0,0,0,0
4,4,5324,PhD,PostGrad Degree,Married,Relationship,2014-01-19,321,1981,33,...,6,5,0,0,0,0,0,0,0,0
5,5,7446,Master,PostGrad Degree,Together,Relationship,2013-09-09,453,1967,47,...,10,6,0,0,0,0,0,0,0,0
6,6,965,Graduation,Undergrad Degree,Divorced,Single,2012-11-13,753,1971,43,...,7,6,0,0,0,0,0,0,0,0
7,7,6177,PhD,PostGrad Degree,Married,Relationship,2013-08-05,488,1985,29,...,4,8,0,0,0,0,0,0,0,0
8,8,4855,PhD,PostGrad Degree,Together,Relationship,2013-06-06,548,1974,40,...,2,9,0,0,0,0,0,0,1,1
9,9,5899,PhD,PostGrad Degree,Together,Relationship,2014-03-13,268,1950,64,...,0,20,1,0,0,0,0,0,0,1

In [7]:
#total amount spent
df['MntTotal'] = df['MntWines']+df['MntFruits']+df['MntMeatProducts']+df['MntFishProducts']+df['MntSweetProducts']+df['MntGoldProds']
#total purchases
df['NumAllPurchases'] = df['NumWebPurchases']+df['NumCatalogPurchases']+df['NumStorePurchases']
#average spent each time
df['AverageCheck'] = round((df['MntTotal'] / df['NumAllPurchases']), 1)
#purchases made using a deal
df['ShareDealsPurchases'] = round((df['NumDealsPurchases'] / df['NumAllPurchases']) * 100, 1)
df['kidsteenHome']=df.Kidhome+df.Teenhome

In [11]:
df_selectedvariables=df.loc[:,['GradorPost','Relationship','Age', 'days','kidsteenHome', 'Income','MntTotal','NumAllPurchases','AverageCheck', 'ShareDealsPurchases', 'SumAcceptedCmp']]

In [18]:
df_selectedvariables.to_csv('df_selectedvariables', sep=',', encoding='utf-8')